<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="DatabasePath" value="Data" />
        <add key="BackupInterval" value="24" />
        <add key="LogLevel" value="Info" />
        <add key="CompanyName" value="XYZ 01-01-2000" />
    </appSettings>
</configuration>
